
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    font-family: 'Montserrat', sans-serif;
}

.landingpage {
    height: 100vh;
    text-align: center;
}

.nextpage{
    transition: all .5s ease-out;
    transform: translateY(-50vw);
}

.landingpage h1{
    font-size: 4.8vw;
    color: #fff;
}

.selectany{
    width: 15vw;
    height: 4vw;
    background-color: wheat;
    border-radius: 10px;
    margin: auto;
}

.selectany h3{
    padding: .7vw 0 0 0;
    font-size: 1.6vw;
}

.images{
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 15vw;
    text-align: center;
    z-index: 10000;
}

.selectimg{
    height: 10vw;
    width: 10vw;
    margin: 2vw;
    transition: all .4s ease-out;
    cursor: pointer;
}

.computer-img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.images img:hover{
    transform: translateY(-1vw) scale(1.1);
}

.images-next-page{
    transition: all .5s ease-out;
    top: 1%;
}

.img-next-page{
    height: 5vw;
    width: 5vw;
}

.gamepage{
    position: absolute;
    top: 25%;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    opacity: 0;
    transition: all .4s ease-out;
}

.gamepage div{
    font-size: 3vw;
    text-align: center;
}

.gamepage img {
    height: 20vw;
    width: 20vw;
}
.show{
    opacity: 1;
}

.score {
    color: #fff;
}
.score h3, .score h2{
    font-size: 4vw; 
}



